{% extends "layout.html"%}

{%block body%}

<div class="home_cont">
   
    {%for x in arr%}

    <div class="posts">
       <div class="owner">
           <img class="owner_pic" src = "{{x.imz}}">
           <div class="name">
               {{x.owner_name}}
           </div>
           
       </div>
       <div class="desc" >
           {{x.title}} <div class="edited"> {{x.edited}} </div>
       </div>

       <img class="post_pic" src = "{{x.ima }}" >
       <div class="form_cl">
        <p style="font-style: italic;"> {{x.link}}</p>
        <br>
               <div  class="owner">
                <a href="{{x.link}}" rel="noopener" target="_blank"><button class="sub_btn_home"> Read</button></a>
                   <img class="owner_pic2" src="{{url_for('static',filename = 'imgs/stats.png')}}">
                   <div class="name2" style="font-style: italic;">
                       {{x.viewed}}
                   </div>
                   
               </div>
              
       </div>
     
       </div>
    
      
<!--     
<script>

    var floater = document.getElementById("drawer");
    var the_button = document.getElementById("formbtn") 
    var close = document.getElementById("close")
    the_button.addEventListener("click",function(){floater.classList.add("open");
    });

    close.addEventListener("click",function(){floater.classList.remove("open");
    });
    
   

    var image_rotate = document.getElementById("imzz");
    function rotate_img(){
        var currentt_r = getComputedStyle(image_rotate).getPropertyValue("transform");
        var values = currentt_r.split('(')[1].split(')')[0].split(',');
        var a = values[0];
        var b = values[1];
        var c = values[2];
        var d = values[1];
        var angle = Math.round(Math.atan2(b,a) *(180/Math.PI)) + 90;
        image_rotate.style.transform = "rotate(" + angle +"deg)";
        
    }
    image_rotate.addEventListener("load",function(){
        var wid = this.naturalWidth;
        var len = this.naturalHeight;
        if (wid > len){
            rotate_img()
        }
    });

</script> -->
       


       {%endfor%}


       
   


        </div>
     
   

{%endblock%}