<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=-1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  </head>


  <body class="main_body"  style="background-color:rgb(226, 226, 232); width: fit-content;">
    <div class="site_pic">
        <label>
           <a class="side_menu_items" href="{{ url_for('feed') }}"> 
            
                <image class="lks"  src="{{url_for('static',filename = 'imgs/ban.png')}}" >
                </a>
          </label>
      </div>
<!-- Nav BAR-->
    <div class="topbar">
<h1> Waka Flaka</h1>        

    </div>


<!-- main container starts here -->
<!-- SIDE BAR-->
<div class="main_container">
    <div class="side_nav">

        <label class="side_items">
            
            <a  href="{{ url_for('feed') }}"  class="no_under">  
                <i class="fa fa-home fa-3x" style="color:rgb(20, 20, 78)"></i> 
                <h3 style="font-weight: bold;"> Home</h3>
              
            </a>
        </label>
        <br>
        <br>
        
             
            <a  href="{{ url_for('profile') }}" class="no_under"> 
                <i class="fa fa-odnoklassniki fa-3x" style="color:rgb(20, 20, 78)"></i> 
                 <h3 style="font-weight: bold;"> Profile</h3>
            </a>
                
        </label>


    </div>

<!-- MAIN CONTAINER-->
<div class="middle">
    {% block body %}
    
    {% endblock %}



</div>
</div>

</body>

</html>
