{% extends "layout.html"%}

{%block body%}


<div class="login-container">
<h2>  {{mess}}</h2>

<br>
{%for x in posts%}

<h3> {{x.title}}</h3>


{% if x.ima.endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
        <img class="my_post_pic" src = "{{x.ima }}" >
    {% elif x.ima.endswith(('.mp4', '.avi', '.mov', '.mkv', '.wmv', '.flv', '.webm', '.m4v', '.mpeg','.3gp')) %}
        <video width="180" height="100" controls controlsList="nodownload">
            <source src="{{ x.ima }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>                                                                                         {% endif %}


<br>
 {{x.description}}

<br>

<br>
<form name="view" method="POST" action="{{ url_for('my_post') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="the_id" value="{{x.post_id}}" valuex="view">  
    <input type="submit" class="sub_btn" name="sub" value="Edit">
    <input type="submit" class="sub_btn" name="sub" onchange="loadFile(event)" value="Delete">


    </form>
<br>
<br>
{%endfor%}

    
    </div>
   




{%endblock%}
