{% extends "layout.html"%}

{%block body%}


<div class="home_cont">

    <div class="fullform" align ="center">
    <form method="POST" action="{{ url_for('post') }}"  enctype="multipart/form-data" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    
    
          
          <script>
            function previewFile(input) {
              var file = input.files[0];
          
              if (file) {
                var reader = new FileReader();
          
                reader.onload = function() {
                  document.getElementById("previewImg").src = reader.result;
                };
          
                reader.readAsDataURL(file);
              }
            }
          </script>
    


    
    
    <br>
        <br>
    
    <input name="title" id="title" maxlength="30" placeholder="Caption" type="text" class="inputs">
        <br>
        <br>
    
        <div class="image-upload">
            <label for="file-input">
              <img id="previewImg" src="{{ url_for('static', filename="/imgs/transparent_image.png") }}" class="thumbnail" />
            </label>
        <br>
            
            <input id="file-input" name="thumb" type="file" accept="image/*,video/*"  required onchange="previewFile(this);" style="display: none;" />
          </div>
         
            </fieldset>
            <br><br>
    
    <button class="sub_btn" type="submit">POST</button>
              <br>
              <br>
    </form>

    </div>





{%endblock%}

